<div class="container">
  <div  id="padd" class="row main">
    <div class="main-login main-center">
    <h5>Login Here...{{loginData.username}}</h5>
      <form class="" method="post" action="#" #regForm="ngForm" method="post" autocomplete="on" (ngSubmit)="loginUser()" >
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input [(ngModel)]="loginData.username" type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" required/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input [(ngModel)]="loginData.password" type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="role" class="cols-sm-2 control-label">Role</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input [(ngModel)]="loginData.role" type="text" class="form-control" name="role" id="role"  placeholder="Enter role" required/>
            </div>
          </div>
        </div> -->
        <div class="form-group ">
          <button id="button" type="submit" value="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>
